Repository goorm-dev/vapor-ui, pull requests merged in 2025-08, with the labels that each got.

#151 feat(Breadcrumb): new `Breadcrumb` components
  .changeset/wild-rats-fail.md
  packages/core/__tests__/screenshots/breadcrumb--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/breadcrumb--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/breadcrumb--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/breadcrumb--test-bed-1-webkit-darwin-.png
  packages/core/src/components/breadcrumb/breadcrumb.css.ts
  packages/core/src/components/breadcrumb/breadcrumb.stories.tsx
  packages/core/src/components/breadcrumb/breadcrumb.test.tsx
  packages/core/src/components/breadcrumb/breadcrumb.tsx
  packages/core/src/components/breadcrumb/index.ts
Labels: type: new feature, scope: breadcrumb

#161 refactor: enhance token structure
  .changeset/nine-news-leave.md
  .storybook/main.ts
  packages/core/tsup.config.ts
Labels: scope: box, scope: flex, scope: grid, scope: v-stack, type: style

#147 feat(Menu): add new `Menu` component
  .changeset/whole-aliens-fetch.md
  packages/core/__tests__/screenshots/menu--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/menu--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/menu--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/menu--test-bed-1-webkit-darwin-.png
  packages/core/package.json
  packages/core/src/components/menu/index.ts
  packages/core/src/components/menu/menu.css.ts
  packages/core/src/components/menu/menu.stories.tsx
  packages/core/src/components/menu/menu.test.tsx
  packages/core/src/components/menu/menu.tsx
  packages/core/src/styles/mixins/interactions.css.ts
  packages/core/src/utils/positioner-props.ts
  packages/core/src/utils/split-positioner-props.ts
  pnpm-lock.yaml
Labels: type: new feature, scope: menu

#155 docs: add docs template
  apps/website/content/docs/components/avatar.mdx
  apps/website/content/docs/components/badge.mdx
  apps/website/content/docs/components/button.mdx
  apps/website/content/docs/components/callout.mdx
  apps/website/content/docs/components/card.mdx
  apps/website/content/docs/components/checkbox.mdx
  apps/website/content/docs/components/dialog.mdx
  apps/website/content/docs/components/icon-button.mdx
  apps/website/content/docs/components/nav.mdx
  apps/website/content/docs/components/radio-group.mdx
  apps/website/content/docs/components/switch.mdx
  apps/website/content/docs/components/text-input.mdx
  apps/website/content/docs/components/text.mdx
  apps/website/public/components/avatar.json
  apps/website/public/components/badge.json
  apps/website/src/app/docs/components/[[...slug]]/page.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/playground/page.tsx
  apps/website/src/components/Info/index.ts
  apps/website/src/components/Info/info.tsx
  apps/website/src/components/component-props-table/component-props-table.tsx
  apps/website/src/components/component-props-table/index.ts
  apps/website/src/components/demo/demo.tsx
  apps/website/src/components/demo/examples/avatar-composition.tsx
  apps/website/src/components/demo/examples/avatar-examples.tsx
  apps/website/src/components/demo/examples/avatar-fallback-only.tsx
  apps/website/src/components/demo/examples/avatar-shape.tsx
  apps/website/src/components/demo/examples/avatar-simple.tsx
  apps/website/src/components/demo/examples/avatar-size.tsx
  apps/website/src/components/demo/examples/avatar-variants.tsx
  apps/website/src/components/demo/examples/badge-color.tsx
  apps/website/src/components/demo/examples/badge-shape.tsx
  apps/website/src/components/demo/examples/badge-size.tsx
  apps/website/src/components/demo/examples/default-avatar.tsx
  apps/website/src/components/docs-description/docs-description.tsx
  apps/website/src/components/docs-description/index.ts
  apps/website/src/components/docs-page-header/docs-page-header.tsx
  apps/website/src/components/docs-title/docs-title.tsx
  apps/website/src/components/docs-title/index.ts
  apps/website/src/components/ui/docs-description.tsx
  apps/website/src/constants/accessibility.ts
  apps/website/src/mdx-components.tsx
  apps/website/src/utils/get-component-doc.ts
Labels: scope: docs
