Repository goorm-dev/vapor-ui, pull requests merged in 2025-09, with the labels that each got.

#195 refactor: change the overlay component interface
  .changeset/eleven-pandas-jog.md
  packages/core/src/components/menu/menu.css.ts
  packages/core/src/components/menu/menu.stories.tsx
  packages/core/src/components/menu/menu.test.tsx
  packages/core/src/components/menu/menu.tsx
  packages/core/src/components/tooltip/tooltip.css.ts
  packages/core/src/components/tooltip/tooltip.stories.tsx
  packages/core/src/components/tooltip/tooltip.tsx
Labels: scope: tooltip, type: breaking change, type: enhancement, scope: menu

#180 chore: add caching for turbo build setup in GitHub Actions workflow
  .github/workflows/quality.yml
  turbo.json
Labels: type: enhancement

#187 feat: add new `Sheet` component
  .changeset/tame-keys-sing.md
  packages/core/__tests__/screenshots/sheet--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/sheet--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/sheet--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/sheet--test-bed-1-webkit-darwin-.png
  packages/core/package.json
  packages/core/src/components/sheet/index.ts
  packages/core/src/components/sheet/sheet.css.ts
  packages/core/src/components/sheet/sheet.stories.tsx
  packages/core/src/components/sheet/sheet.test.tsx
  packages/core/src/components/sheet/sheet.tsx
  packages/core/src/hooks/use-animation-finished.ts
  packages/core/src/hooks/use-open-change-complete.ts
  packages/core/src/hooks/use-transition-status.ts
  packages/core/src/utils/data-attributes.ts
  pnpm-lock.yaml
Labels: type: new feature, scope: sheet

#157 feat(Tabs): add new `Tabs` component
  .changeset/small-grapes-wash.md
  packages/core/__tests__/screenshots/tabs--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-webkit-darwin-.png
  packages/core/src/components/tabs/index.ts
  packages/core/src/components/tabs/tabs.css.ts
  packages/core/src/components/tabs/tabs.stories.tsx
  packages/core/src/components/tabs/tabs.tsx
Labels: type: new feature, scope: tabs

#189 refactor: add responsive to sprinkles utilities
  packages/core/src/styles/sprinkles.css.ts
  pnpm-lock.yaml
Labels: type: enhancement, scope: all, type: style

#191 chore: resolve format error
  packages/core/src/components/theme-provider/theme-provider.tsx
Labels: scope: theme-provider

#196 feat: add tooltip test
  packages/core/src/components/tooltip/tooltip.test.tsx
Labels: scope: tooltip, type: enhancement

#197 feat: add new `Collapsible` component
  .changeset/plenty-hoops-start.md
  packages/core/__tests__/screenshots/collapsible--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-webkit-darwin-.png
  packages/core/src/components/collapsible/collapsible.css.ts
  packages/core/src/components/collapsible/collapsible.stories.tsx
  packages/core/src/components/collapsible/collapsible.test.tsx
  packages/core/src/components/collapsible/collapsible.tsx
  packages/core/src/components/collapsible/index.ts
Labels: type: new feature, scope: collapsible

#200 refactor: prioritize focus style over hover
  .changeset/three-chairs-fly.md
  packages/core/src/styles/mixins/interactions.css.ts
Labels: scope: text-input, type: style

#220 chore: update tabs snapshot
  packages/core/__tests__/screenshots/tabs--test-bed-1-chromium-darwin-.png
  packages/core/package.json
  pnpm-lock.yaml
Labels: scope: tabs

#215 docs: update code convention
  .gemini/styleguide.md
Labels: scope: docs

#190 feat: add navbar block
  packages/core/src/blocks/navbar.css
  packages/core/src/blocks/navbar.stories.tsx
Labels: scope: docs, type: new feature

#225 feat: add new `MultiSelect` component
  .changeset/cuddly-lemons-jog.md
  .storybook/preview.tsx
  packages/core/__tests__/screenshots/multiselect--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/multiselect--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/multiselect--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/multiselect--test-bed-1-webkit-darwin-.png
  packages/core/src/components/multi-select/index.ts
  packages/core/src/components/multi-select/multi-select.css.ts
  packages/core/src/components/multi-select/multi-select.stories.tsx
  packages/core/src/components/multi-select/multi-select.tsx
  packages/core/src/index.ts
  packages/core/src/styles/index.ts
Labels: type: new feature

#237 fix: remove fixed size from icon-base.tsx
  .changeset/silly-cooks-poke.md
  .changeset/sour-colts-film.md
  packages/core/__tests__/screenshots/breadcrumb--test-bed-1-webkit-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/collapsible--test-bed-1-webkit-darwin-.png
  packages/core/src/components/breadcrumb/breadcrumb.tsx
  packages/icons/src/components/icon-base.tsx
Labels: type: bug, scope: icon

#238 style: edit machanism about adjust spacing
  .changeset/busy-adults-post.md
  packages/core/src/components/sheet/sheet.css.ts
Labels: scope: sheet

#241 feat: add form blocks
  apps/website/content/blocks/form.mdx
  apps/website/public/images/form-card.svg
  apps/website/public/images/form-preview.svg
  apps/website/src/app/blocks/page.tsx
  apps/website/src/components/demo/examples/forms/authentication-form.css
  apps/website/src/components/demo/examples/forms/authentication-form.tsx
  apps/website/src/components/demo/examples/forms/filter-form.css
  apps/website/src/components/demo/examples/forms/filter-form.tsx
  apps/website/src/components/demo/examples/forms/login-form.css
  apps/website/src/components/demo/examples/forms/login-form.tsx
  apps/website/src/components/demo/examples/forms/research-form.css
  apps/website/src/components/demo/examples/forms/research-form.tsx
  apps/website/src/components/demo/examples/forms/sheet-form.css
  apps/website/src/components/demo/examples/forms/sheet-form.tsx
  apps/website/src/components/demo/examples/forms/signup-form.css
  apps/website/src/components/demo/examples/forms/signup-form.tsx
  apps/website/src/components/site-nav-bar/site-nav-bar.tsx
  apps/website/src/constants/image-urls.ts
  apps/website/src/constants/site-links.tsx
Labels: scope: docs, type: new feature

#245 feat: navbar blocks
  apps/website/content/blocks/nav-bar.mdx
  apps/website/src/components/demo/examples/navbars/block.css
  apps/website/src/components/demo/examples/navbars/block01.tsx
  apps/website/src/components/demo/examples/navbars/block02.tsx
  apps/website/src/components/demo/examples/navbars/block03.tsx
  apps/website/src/components/demo/examples/navbars/block04.tsx
  apps/website/src/components/demo/examples/navbars/block05.tsx
  apps/website/src/components/demo/examples/navbars/block06.tsx
  apps/website/src/components/demo/examples/navbars/logo.css
  packages/core/src/blocks/navbar.stories.tsx
Labels: scope: docs

#232 feat(color-generator): add color palette generation workspace with three core generators
  packages/color-generator/.prettierignore
  packages/color-generator/CONTEXT.md
  packages/color-generator/README.md
  packages/color-generator/__tests__/__snapshots__/snapshots.test.ts.snap
  packages/color-generator/__tests__/snapshots.test.ts
  packages/color-generator/eslint.config.mjs
  packages/color-generator/package.json
  packages/color-generator/src/constants/colors.ts
  packages/color-generator/src/constants/index.ts
  packages/color-generator/src/constants/thresholds.ts
  packages/color-generator/src/generators/brand-color-palette.ts
  packages/color-generator/src/generators/index.ts
  packages/color-generator/src/generators/semantic-mapping.ts
  packages/color-generator/src/generators/system-color-palette.ts
  packages/color-generator/src/index.ts
  packages/color-generator/src/libs/adobe-leonardo.ts
  packages/color-generator/src/libs/index.ts
  packages/color-generator/src/types/config.ts
  packages/color-generator/src/types/core.ts
  packages/color-generator/src/types/index.ts
  packages/color-generator/src/utils/color.ts
  packages/color-generator/src/utils/index.ts
  packages/color-generator/tsconfig.json
  packages/color-generator/tsup.config.ts
  packages/color-generator/vitest.config.ts
  pnpm-lock.yaml
Labels: type: new feature

#233 feat(figma-plugin): create Figma plugin workspace with `@vapor-ui/color-generator`
  apps/figma-plugin/.prettierignore
  apps/figma-plugin/eslint.config.mjs
  apps/figma-plugin/index.html
  apps/figma-plugin/manifest.json
  apps/figma-plugin/package.json
  apps/figma-plugin/public/favicon.ico
  apps/figma-plugin/src/common/logger.ts
  apps/figma-plugin/src/common/messages.ts
  apps/figma-plugin/src/plugin/code.ts
  apps/figma-plugin/src/plugin/controllers/brand-controller.ts
  apps/figma-plugin/src/plugin/controllers/index.ts
  apps/figma-plugin/src/plugin/controllers/primitive-controller.ts
  apps/figma-plugin/src/plugin/services/figma-notification.ts
  apps/figma-plugin/src/plugin/services/figma-ui-service.ts
  apps/figma-plugin/src/plugin/services/figma-variable-service.ts
  apps/figma-plugin/src/plugin/utils/color.ts
  apps/figma-plugin/src/plugin/utils/figma-font.ts
  apps/figma-plugin/src/plugin/utils/theme-sorter.ts
  apps/figma-plugin/src/ui/App.tsx
  apps/figma-plugin/src/ui/components/color-input.tsx
  apps/figma-plugin/src/ui/components/labeled-input.tsx
  apps/figma-plugin/src/ui/components/labeled-select.tsx
  apps/figma-plugin/src/ui/components/range-slider.tsx
  apps/figma-plugin/src/ui/components/section.tsx
  apps/figma-plugin/src/ui/features/brand-colors-tab.tsx
  apps/figma-plugin/src/ui/features/primitive-colors-tab.tsx
  apps/figma-plugin/src/ui/index.css
  apps/figma-plugin/src/ui/main.tsx
  apps/figma-plugin/src/ui/utils/color-metrics.ts
  apps/figma-plugin/src/vite-env.d.ts
  apps/figma-plugin/tsconfig.app.json
  apps/figma-plugin/tsconfig.json
  apps/figma-plugin/tsconfig.node.json
  apps/figma-plugin/vite.config.plugin.ts
  apps/figma-plugin/vite.config.ui.ts
  pnpm-lock.yaml
Labels: type: new feature, ui

#248 fix: unreflected content revisions
  .changeset/six-rats-reply.md
  packages/core/__tests__/screenshots/tabs--test-bed-1-Microsoft-Edge-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-chromium-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-firefox-darwin-.png
  packages/core/__tests__/screenshots/tabs--test-bed-1-webkit-darwin-.png
  packages/core/package.json
  packages/core/src/components/breadcrumb/breadcrumb.tsx
  packages/core/src/components/callout/callout.css.ts
  packages/core/src/components/popover/popover.tsx
  packages/core/src/components/switch/switch.stories.tsx
  packages/core/src/components/switch/switch.tsx
  packages/core/src/components/tabs/tabs.css.ts
  packages/core/src/index.ts
  packages/core/src/styles/index.ts
  pnpm-lock.yaml
Labels: type: breaking change, type: enhancement, scope: all

#253 fix(text-input): Reflecting that the style is missing from the `component` layer
  .changeset/young-boats-add.md
  packages/core/src/components/text-input/text-input.css.ts
Labels: scope: text-input, type: bug

#262 docs: resolve layout shift
  apps/website/src/components/demo/examples/collapsible/collapsible-disabled.tsx
  apps/website/src/components/demo/examples/collapsible/collapsible-keep-mounted.tsx
  apps/website/src/components/demo/examples/collapsible/collapsible-open-state.tsx
  apps/website/src/components/demo/examples/collapsible/default-collapsible.tsx
  apps/website/src/components/demo/examples/dialog-modal.tsx
  apps/website/src/components/demo/examples/dialog-size.tsx
  apps/website/src/components/demo/examples/dialog-variants.tsx
  apps/website/src/components/demo/examples/multi-select/default-multi-select.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-controlled.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-custom-value.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-grouping.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-items.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-size.tsx
  apps/website/src/components/demo/examples/multi-select/multi-select-states.tsx
  apps/website/src/components/demo/examples/select/default-select.tsx
  apps/website/src/components/demo/examples/select/select-controlled.tsx
  apps/website/src/components/demo/examples/select/select-custom-value.tsx
  apps/website/src/components/demo/examples/select/select-grouping.tsx
  apps/website/src/components/demo/examples/select/select-items.tsx
  apps/website/src/components/demo/examples/select/select-positioning.tsx
  apps/website/src/components/demo/examples/select/select-size.tsx
  apps/website/src/components/demo/examples/select/select-states.tsx
  apps/website/src/components/demo/examples/tabs/default-tabs.tsx
  apps/website/src/components/demo/examples/tabs/tabs-controlled.tsx
  apps/website/src/components/demo/examples/tabs/tabs-keyboard.tsx
  apps/website/src/components/demo/examples/tabs/tabs-orientation.tsx
  apps/website/src/components/demo/examples/tabs/tabs-size.tsx
  apps/website/src/components/demo/examples/tabs/tabs-states.tsx
  apps/website/src/components/demo/examples/tabs/tabs-variant.tsx
Labels: scope: docs, type: enhancement
